<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form action="testapp/result/">
      <label for="un">username :</label>
      <input type="text" id="un" placeholder="username" name="username" />
      <label for="psw">password :</label>
      <input type="password" name="password" id="psw" placeholder="pass word" />
      <input type="submit" />
    </form>
  </body>
</html>
